@import url('https://fonts.googleapis.com/css2?family=NTR&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* desenvolvido em mobile first */

:root {
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green-bright: #64ffda;
    --font-titles: 'NTR', sans-serif;
    --font-descs: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 14px;
}

body {
    background-color: var(--navy);
    font-family: var(--font-titles);
}

.header-menu {
    display: flex;
    justify-content: center;
    gap: 0.6rem;
}

.header-menu a {
    color: var(--slate);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem;
    text-transform: uppercase;
}

.header-menu a:hover {
    color: var(--green-bright);
}

.header-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.header-intro img {
    width: 21.5rem;
    height: fit-content;
}

.header-intro-title {
    color: var(--lightest-slate);
    font-size: 2.5rem;
}

.header-intro-title::after {
    content: '|';
    margin-left: 0.2rem;
    color: var(--green-bright);
    opacity: 1;
    animation: pisca 1s infinite;
}

@keyframes pisca {
    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.header-intro-subtitle {
    color: var(--slate);
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: -1.5rem;
}

.header-intro-social :nth-child(2) {
    margin: 0 1rem;
}

.header-intro-social a {
    color: var(--green-bright);
    font-size: 1.8rem;
}

.header-intro-social a:hover {
    color: var(--slate);
}
.section {
    display: flex;
    flex-direction: column;
    font-family: var(--font-descs);
    padding: 6rem 1.7rem 1rem 1.7rem;
}

.section-title {
    color: var(--lightest-slate);
    font-family: var(--font-titles);
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.section-about-desc {
    font-size: 1.1rem;
    line-height: 2rem;
    color: var(--slate);
    padding-bottom: 2rem;
}

.section-about-desc p:nth-child(2) {
    margin: 2rem 0;
}

.section-about-image img {
    display: none;
}

.section-about-techs ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 10px));
    grid-gap: 0.7rem;
    font-family: var(--font-descs);
    font-size: 0.95rem;
    font-weight: 700;
    color: var(--slate);
}

.section-about-techs i {
    color: var(--green-bright);
    padding-right: 0.7rem;
}

.section-projects-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.section-projects-card {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.75rem;
    background-color: var(--light-navy);
    border-radius: 16px;
}

.section-projects-card:hover {
    position: relative;
    left: 0.3rem;
    transition: background-color .5s ease-out;
    background-color: var(--lightest-navy);
}

.section-card-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    align-items: center;
}

.section-card-header .external-links a {
    margin: 0 0.2rem;
    color: var(--lightest-slate);
}

.section-card-header .folder {
    color: var(--green-bright);
    font-size: 1.5rem;
}

.section-card-title {
    font-size: 1.5rem;
    padding-top: 1rem;
    color: var(--light-slate);
}

.section-card-desc {
    font-size: 0.95rem;
    margin: 1rem 0 4rem 0;
    color: var(--slate);
}

.section-card-techs {
    color: var(--slate);
    font-weight: 600;
}

.section-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
}

.section-contact span {
    font-size: 1.2rem;
    color: var(--slate)
}

.section-contact a {
    color: var(--green-bright);
    margin: 0.5rem;
    font-weight: 600;
    font-size: 1.4rem;
}

.section-contact a:hover {
    color: var(--slate);
}

/* animação geral (fade-in)*/
[data-anime] {
    opacity: 0;
    transition: opacity .6s ease-out, transform 1s ease-out;
    visibility: hidden;
    will-change: opacity, visibility;
}

[data-anime="fade-in"] {
    transform: translateY(10vh);
}

[data-anime].isvisible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

/* responsividade tablets e desktops */
@media (min-width: 690.98px) {
    .header-menu a {
        font-size: 1.5rem;
    }

    .header-intro {
        min-height: 70vh;
        margin-bottom: 5rem;
    }

    .header-intro img {
        width: 40rem;
    }

    .header-intro-title {
        font-size: 4rem;
    }

    .header-intro-subtitle {
        font-size: 2.5rem;
    }

    .header-intro-social a {
        font-size: 2.2rem;
    }

    .section {
        padding-left: 15%;
        padding-top: 5%;
        padding-right: 15%;
    }

    .section-title {
        font-size: 2.5rem;
    }

    .section-title ::after {
        content: "";
        display: block;
        width: 21rem;
        height: 0.01rem;
        margin-left: 18rem;
        position: relative;
        bottom: 4rem;
        background-color: var(--lightest-slate);
    }

    .section-about-content {
        display: flex;
    }

    .section-about-desc {
        max-width: 500px;
        line-height: 1.6rem;
    }

    .section-about-image {
        position: relative;
        left: 2rem;
    }

    .section-about-image:hover {
        bottom: 1rem;
    }

    .section-about-image img {
        display: flex;
        max-width: 200px;
        height: fit-content;
        border-radius: 1rem;
        box-shadow: 0.3rem 1rem 1.2rem rgba(0, 0, 0, 0.3);
        border: 0.15rem solid var(--green-bright);
    }
}